h1{
    font-family: Arial, sans-serif;
    color: rgb(211,139,24);
}
p1{
    font-family: Arial, sans-serif;
    text-align: left;
}
#map {
    height: 400px;
    width: 80%;
    display: inline-block;
}

#panel{
    width: 16%;
    padding: 20 px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42 px;
}
.range-slider{
    width: 50%;
}
#forward {
    float: right;
}

#reverse{
    float: left;
}


